$var1: #000000;

head {
    height: 97px;
    width: 462px;
    left: 489px;
    top: 145px;
    border-radius: nullpx;
    X constraint: Left
    Y constraint: Top
}
body {
	height: 667px;
	width: 1196px;
	left: 306px;
	top: 273px;
	border-radius:  ;
	constraint: Mixed ;
 
}
$var1: #000000;
