extends Views/layouts/default.pug

//- Инициализация переменных для использования в макетах
block variables
  - const title = 'Проект SFERA — Новости'
  - const description = 'Описание страницы'

append script
  script(src=require('../../../assets/scripts/index.js') defer)
  script(src=require('./main.js') defer)

append style
  link(href=require('./styles.scss') rel='stylesheet')

block content 
  //- Свою верстку пишем здесь
  .container
    h2 News 
    .blog-post
      .blog-post__img 
         img(src="https://images.unsplash.com/flagged/photo-1573162915835-520ee6d112b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8SVR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="")
      .blog-post__info 
        .blog-post__date 
          span NEW-VERSION OF SFERA WEBSITE
          span Nov 29 2022
        h1.blog-post__title I dont know how to name this title
        p.blog-post__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum ratione autem atque accusantium repellendus nemo dicta recusandae repellat sequi perferendis dolorem adipisci vel assumenda, corporis iste. Impedit veniam saepe iste
        a(class='blog-post__cta' href='#') Read more 
    .blog-post
      .blog-post__img 
         img(src="https://images.unsplash.com/photo-1573495783026-9a628c32fb3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fElUfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="")
      .blog-post__info 
        .blog-post__date 
          span Sfera zone app 
          span Dec 12 2022
        h1.blog-post__title Lorem, ipsum dolor sit amet
        p.blog-post__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum ratione autem atque accusantium repellendus nemo dicta recusandae repellat sequi perferendis dolorem adipisci vel assumenda, corporis iste. Impedit veniam saepe iste
        a(class='blog-post__cta' href='#') Read more 
      
  
      

  

    
    



 

  

    
  

  h1 this is content of page