npextends Views/layouts/default.pug

//- Инициализация переменных для использования в макетах
block variables
  - const title = 'Проект SFERA — Black Box'
  - const description = 'Описание страницы'

append script
  script(src=require('./main.js') defer)

append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  main.main(role="main")
    // Уберите section__wrapper если не нужен (он ограничивает ширину контейнера до 1440 пискселей)
    .main__container.section__wrapper
      // Верстаем здесь
      head
      title Black Box
      body
      h1 Самовыражение и свобода с Black Box
      h2 Говори  открыто и смело с анонимным приложением Black Box 
      //img.phoneBlackBox (картинка черной коробки из приложения в телефоне)
      button Открой мир Black Box
      // p Идентификация
      //ul 
        li Меньше социальной тревожности
        li Меьше самоанализа
        li Открытое и смелое самовыражение
        li Меньше последствий негативных социальных взаимодействий
        li Общение с легкостью и свободой