header.header.section(role="header")

  .header__container

    .topbar
      .topbar__container.section__wrapper
        .topbar__info
          p.topbar__info-content SFERA — цифровая экосистема по принципу All-in-One (Все-в-одном)
        .langs
          select.langs-select(onchange="if (this.value) window.location.href = this.value")
            option.lang-select__item.langs-select__item_ru(value="#") RU
            option.lang-select__item.langs-select__item_en(value="#") EN
            option.lang-select__item.langs-select__item_cs(value="#") CS

    .navbar
      .navbar__container.section__wrapper
        .logo.logo_location_header
          a.logo__link(href="#")
            img.logo__image(src=require('Images/sfera.svg'))             
            span.logo__title Sfera
        nav.main-nav 
          ul.main-nav__list.dropdown-menu
            li.main-nav__item.dropdown-menu__button 
              a.main-nav__link(href="#") Products                             
              .main-nav__submenu.dropdown-menu__content
                a(href="/blog.html") This is something
            li.main-nav__item
              a.main-nav__link(href="#") News
            li.main-nav__item
              a.main-nav__link(href="#") Blog