header.header(role="header")
  .header__container.section__container

    .logo
      a.logo__link(href="#")
        img.logo__image(src=require('Images/logo.svg'))

    include ./main-menu.pug
    include ./products-menu.pug