header.header.section(role="header")

  .header__container.section__wrapper

    .logo
      a.logo__link(href="#")
        img.logo__image(src=require('Images/logo.svg'))
    
  nav.nav.section(role="nav")
    .nav__container.section__wrapper
      include ../includes/nav.pug

