.topbar {
  background: $colorsHeaderTopbarBg;
  font-size: 0.85em;
  color: white;
  padding: 0.2em 0;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    flex: 2;
    display: flex;
    justify-content: center;
  }

}