extends Views/layouts/default.pug

//- Инициализация переменных для использования в макетах
block variables
  - const title = 'Проект SFERA — Политика конфидециальности и обработки данных'
  - const description = 'Описание страницы'

append script
  script(src=require('../../../assets/scripts/index.js') defer)
  script(src=require('./main.js') defer)

append style
  link(href=require('./styles.scss') rel='stylesheet')

block content 
  //- Свою верстку пишем здесь
  h1 this is content of page