extends Views/layouts/default.pug

//- Инициализация переменных для использования в макетах
block variables
  - const title = 'Проект SFERA — Meet Net'
  - const description = 'Описание страницы'

append script
  script(src=require('./main.js') defer)

append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  main.main(role="main")
    // Уберите section__wrapper если не нужен (он ограничивает ширину контейнера до 1440 пискселей)
    .main__container.section__wrapper
      // Верстаем здесь
      //- h1 Крутой заголовок
      //- h2 Подзаголовок
      //- button Призыв к действию
      //- p Идентификация
      //- ul 
      //-   li Выгода 1
      //-   li Выгода 2
      //-   li Выгода 3
    section
      .content
        .content__info 
          h1.content-info Meet Net   
            span.content-info Eto Kruto 
          p.content-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          a.info__btn(href="#") More info
          

      