/*---------------------------------
/ TYPOGRAPHY
----------------------------------*/
$fontBasic: 'Inter';
$fontBasicWeightLight: 300;
$fontBasicWeightNormal: 400;
$fontBasicWeightBold: 500;
$fontBasicWeightBlack: 900;